<ion-header>
  <ion-toolbar>
    <ion-title>Sup, it's Clifford (yes, the infamous Big Red Dog)</ion-title>     
    <ion-avatar>
      <img src="https://pixel.nymag.com/imgs/daily/vulture/2012/05/09/09_clifford.jpg">
    </ion-avatar>     
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-chip>
      <ion-icon name="pin"></ion-icon>
      <ion-label>Portugal</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name='at'></ion-icon>
      <ion-label>clifford@woof.net</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name='call'></ion-icon>
      <ion-label>(123)456-7890</ion-label>
    </ion-chip>
  <ion-title>
    You need to rent my houses in Portugal because I can't fit in them!
    <br>
    Here are the locations:
  </ion-title>
  <ion-chip>
    <ion-icon name="pin"></ion-icon>
    <ion-label>Lagos</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-icon name="pin"></ion-icon>
    <ion-label>Porto</ion-label>
  </ion-chip>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
</ion-content>
